*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.other-course-box{
    margin: 20px 0;

}
.heading{
    padding: 15px 10px;
    margin-top: 60px;
    margin-bottom: 17px;

}
.active-page{
    color: aqua !important;
}

.detail-courses{
    min-height: 100vh;
    width: 100%;
    

}
.detail-course-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.detail-course-box{
    width: 340px;
    max-height: 350px;
}