@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}



/* Landing section start  */
.main-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #0C191A;

}

.glass-background {
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(25px);
    min-height: 100vh;
    height: auto;
    z-index: 2;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(139.18deg, rgba(69, 221, 231, 0.34) 15.98%, rgba(203, 206, 35, 0.34) 91.55%);
}

.circle1 {

    animation: circle2 10s ease infinite;
    bottom: 127px;
    left: 108px;
    width: 300px;
    height: 300px;
    filter: blur(155px) saturate(4);
    background: linear-gradient(139.18deg, rgb(0 239 255) 15.98%, rgb(203 206 35 / 52%) 91.55%);
}

.circle2 {
    top: 161px;
    right: 161px;
    width: 200px;
    height: 200px;
    background: linear-gradient(139.18deg, #45DDE7 15.98%, #4bfac4 91.55%);
    animation: circle1 6s ease infinite;
    filter: blur(150px) saturate(74);

}

.circle3 {
    animation: circle 8s ease infinite;
    bottom: 62px;
    right: 341px;
    width: 200px;
    height: 200px;
    filter: blur(159px) saturate(7);
    background: linear-gradient(139.18deg, #19A9B2 15.98%, #ff388c 91.55%);


}

@keyframes circle {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-300px, -100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle1 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-200px, 100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle2 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translateY(-250px);
    }

    100% {
        transform: translate(0, 0);
    }
}



/* header section start */

.navigation{
    background: #000000bc;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20);
    z-index: 2;

}
header {
    height: 80px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
}

header nav {
    width: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


/* header section end */


.main-container .landing-main {
    padding-top: 180px;
    padding-bottom: 230px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.main-container .landing-main h1 {
    color: #eee;
    font-family: arial;
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 106px;
}

.main-container .landing-main h2 {
    font-size: 80px;
    color: #eee;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}


/* slider section start  */
.testimonial-section{
    /* padding: 0 180px; */
    padding-top: 50px;
    padding-bottom: 50px;

}
.swiper{
    min-height: 405px;
    padding-top: 20px;
}



.swiper-slide {
    /* scale: .6; */
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 10px;
    transition: all 1s ease;
}
.swiper-slide-active{
    scale: 1.1;
}

.swiper-slide .card-box{
    width: 250px;
    height: 300px;
    overflow: hidden;
    background: linear-gradient(45deg, #ecececd1, #fffffff7, #2f7a77);
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(200);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.757);
    transition: all .5s ease;
}
.swiper-slide .card-box:hover{
    scale: 1.05;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.837);
}
.swiper-slide .card-box:hover .card-img img{

    scale: 1.4;
}


.card-img{
    height: 40%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;


}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transition: all 3s linear;
}
.card-text{
    padding: 5px 20px;
    overflow: hidden;

}
.card-text a{
    font-size: 18px;
    color: #19A9B2;
    text-decoration: none;
}
.card-text a:hover{
    text-decoration: underline;
}

.card-text p{
    
    font-size: 14px;
    color: #3d3d3d;
}
/* slider section end  */



.study-container {
    padding: 50px 0;
}

.row .course-heading {
    color: white;
    padding: 20px;
    background-color: #19A9B2;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.291), rgba(255, 255, 255, 0.168), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(100px)brightness(50)saturate(50);
    border: 2px solid rgba(255, 255, 255, 0.153);


}

.video-secreen {
    width: 100%;
    height: 80vh;
    padding: 50px;
    min-height: 500px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.291), rgba(255, 255, 255, 0.168), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(100px)brightness(50)saturate(50);
    display: grid;
    place-items: center;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.153);
}

.video-secreen iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.video-list {
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.153);
    min-height: 500px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.291), rgba(255, 255, 255, 0.168), rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(100);
}