@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}




body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
}




/* Landing section start  */
.main-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #0C191A;

}

.glass-background {
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(25px);
    min-height: 100vh;
    height: auto;
    z-index: 2;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(139.18deg, rgba(69, 221, 231, 0.34) 15.98%, rgba(203, 206, 35, 0.34) 91.55%);
}

.circle1 {

    animation: circle2 8s ease infinite;
    bottom: 127px;
    left: 108px;
    width: 300px;
    height: 300px;
    filter: blur(155px) saturate(4);
    background: linear-gradient(139.18deg, rgb(0 239 255) 15.98%, rgb(203 206 35 / 52%) 91.55%);
}

.circle2 {
    top: 161px;
    right: 161px;
    width: 200px;
    height: 200px;
    background: linear-gradient(139.18deg, #45DDE7 15.98%, #4bfac4 91.55%);
    animation: circle1 14s ease infinite;
    filter: blur(150px) saturate(74);

}

.circle4 {
    top: 161px;
    right: 550px;
    width: 400px;
    height: 400px;
    background: linear-gradient(139.18deg, #58c2b947 15.98%, rgb(129 186 230 / 80%) 91.55%);
    animation: circle1 11s ease infinite;
    filter: blur(150px) saturate(74);

}

.circle3 {
    animation: circle 10s ease infinite;
    bottom: 62px;
    right: 341px;
    width: 200px;
    height: 200px;
    filter: blur(159px) saturate(7);
    background: linear-gradient(139.18deg, #19A9B2 15.98%, #ff388c 91.55%);


}

.circle5 {
    top: 301px;
    left: 100px;
    width: 400px;
    height: 400px;
    background: linear-gradient(139.18deg, #15c9ed33 15.98%, rgb(126 192 254 / 80%) 91.55%);
    animation: circle5 15s ease infinite;
    filter: blur(150px) saturate(74);

}

@keyframes circle {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(40%, -1700%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle1 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translateY(1000%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle2 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translateY(-1500%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes circle5 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(100%, -100%);
    }

    100% {
        transform: translate(0, 0);
    }
}



/* header section start */

.navigation {
    background: #000000bc;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20);
    z-index: 2;

}

header {
    height: 80px;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    scale: .7;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo .brand {
    height: 70px;
}

header .logo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
}

header nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    display: none;
}

header nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
    transform: all .3s ease;
}

header nav a:hover {
    color: #FFFFFF;
}

header nav a::after {
    transition: all 2s ease;
    bottom: 0;
    left: -100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffffa5;
}

header nav a:hover:after {
    left: 100%;
}

.dropdown-menu {
    background: rgba(60, 147, 138, 0.437);
}

.nav-item {
    margin: 10px 0;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: black;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    color: red;
}

/* header section end */


.main-container .landing-main {
    padding-top: 180px;
    padding-bottom: 230px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.main-container .landing-main h1 {
    color: #eee;
    font-family: arial;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 106px;
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
}

.main-container .landing-main h1::after {
    transition: all 1s ease;
    bottom: 0;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background: rgba(241, 241, 241, 0.507);
    /* border-radius: 50%; */
    animation: protonity 5s ease infinite;
}

/* .main-container .landing-main h1:hover:after{
    left: 100%;

} */
@keyframes protonity {
    0% {
        left: -100%
    }

    20% {
        left: -70%;
        background: rgba(255, 255, 255, 0.913);
    }

    30% {
        left: -80%;
        background: rgba(167, 181, 172, 0.242);
    }

    40% {
        left: -65%;
        background: rgba(147, 150, 239, 0.575);
    }

    50% {
        left: -70%;
        background: rgba(115, 207, 192, 0.507);
    }

    60% {
        left: -50%;
        background: rgba(117, 167, 134, 0.507);
    }

    65% {
        left: -55%;
        background: rgba(161, 206, 114, 0.507);
    }

    70% {
        left: -20%;
        background: rgba(111, 163, 202, 0.507);
    }

    75% {
        left: -30%;
        background: rgba(38, 182, 185, 0.507);
    }

    80% {
        left: -10%;
        background: rgba(103, 238, 215, 0.749);
    }

    100% {
        left: 0;
        background: rgba(101, 221, 143, 0.507);
    }

}


.main-container .landing-main h2 {
    font-size: 80px;
    color: #eee;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.landing-side {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.landing-side .round {
    scale: .8;
    position: absolute;
    transform-origin: center;
}

.landing-side .inner {
    /* margin-top: 44px;; */
    /* margin-left: 1px; */
    animation: round 15s linear infinite;
}

.landing-side .outer {
    /* padding-top: 10px;
    padding-left: 10px; */
    animation: round 25s linear infinite reverse;

}

@keyframes round {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}



/* slider section start  */
.testimonial-section {
    padding-top: 280px;
    padding-bottom: 50px;

}

.swiper {
    min-height: 405px;
    padding-top: 20px;
}



.swiper-slide {
    /* scale: .6; */
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 10px;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
}

.swiper-slide-active {
    scale: 1.1;
    z-index: 2;
}

.swiper-slide .card-box {
    width: 250px;
    height: 300px;
    overflow: hidden;
    background: linear-gradient(45deg, #616161a1, #20999424);
    padding: 3px;
    border-radius: 20px;
    backdrop-filter: blur(200);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.757);
    transition: all .5s ease;
    filter: blur(10);


}

.swiper-slide-active .card-box {
    background-image: linear-gradient(45deg, #ecececd1, #fffffff7, #2f7a77);

}

.swiper-slide-active .card-box .card-text p {
    color: #3d3d3d;

}

.swiper-slide .card-box:hover {

    background-image: linear-gradient(45deg, #ecececd1, #fffffff7, #2f7a77);
    scale: 1.05;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.837);
}

.swiper-slide .card-box:hover .card-text p {

    color: #3d3d3d;

}

.swiper-slide .card-box:hover .card-img img {

    scale: 1.4;
}


.card-img {
    height: 40%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;


}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transition: all 3s linear;
}

.card-text {
    padding: 5px 10px;
    overflow: hidden;

}

.card-text a {
    font-size: 17px;
    color: #19A9B2;
    line-height: 10px;
    text-decoration: none;
}

.card-text a:hover {
    text-decoration: underline;
}

.card-text p {
    padding-top: 5px;
    font-size: 14px;
    color: #5fff6a;
}

/* slider section end  */


/* member section start  */
.memeber-photo-col {
    min-height: 400px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.heading {
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-bottom: 2px solid rgba(255, 255, 255, 0.211);
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 40px;
}

.memeber-photo-col {
    margin: 30px 0;

}

.photo-box {
    width: 300px;
    height: 300px;
    position: relative;
}

.photo-box img {
    position: absolute;
    transition: all .5s ease;
    animation: member 5s ease infinite;
}

.one {
    transform: translate(28px, -34px);
}

.two {
    transform: translate(90px, -50px);
}

.three {
    transform: translate(210px, -2px);
}

.for {
    transform: translate(-28px, 27px);
}

.five {
    transform: translate(90px, 70px);
}

.six {
    transform: translate(210px, 113px);
}

.seven {
    transform: translate(-28px, 148px);
}

.eight {
    transform: translate(90px, 190px);
}

.nine {
    transform: translate(210px, 232px);
}


.photo-box:hover .one {
    transform: translate(50px, 29px)rotate(90deg);
    z-index: 2;
}

.photo-box:hover .two {
    transform: translate(90px, -118px);
}

.photo-box:hover .three {
    transform: translate(245px, -38px);
}

.photo-box:hover .for {
    transform: translate(-58px, -15px);
}

.photo-box:hover .five {
    transform: translate(90px, 70px)scale(1.5)rotate(360deg);
}

.photo-box:hover .six {
    transform: translate(245px, 153px);
}

.photo-box:hover .seven {
    transform: translate(-58px, 190px)
}

.photo-box:hover .eight {
    transform: translate(90px, 265px);
}

.photo-box:hover .nine {
    transform: translate(170px, 195px)rotate(180deg);
}

.member-info-box {
    margin: 30px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    min-height: 400px;
    padding: 20px;
    background: rgba(77, 255, 193, 0.096);
    backdrop-filter: blur(20);
    position: relative;
}

p {
    color: rgb(183, 183, 183);
    font-size: 16px;
}

h2 {
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    font-size: 24px;
}

.member-info-box .anim {
    z-index: 2;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
}

.anim-box1 {

    background: rgba(214, 71, 161, 0.4);
    top: -40px;
    left: -20px;
    animation: anim 3s ease .5s infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.anim-box2 {
    background: rgba(99, 236, 179, 0.698);
    bottom: -20px;
    right: -20px;
    animation: anim 3s ease infinite;
}



@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }

}




/* member section end  */

/* scroll start  */
body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(25, 96, 103);
    cursor: pointer;
}

/* scroll end */



.study-container {
    padding: 50px 0;
}

.row .course-heading {
    font-size: 20px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    background-color: #19A9B2;
    border-radius: 10px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 20px;
    background: linear-gradient(45deg, rgba(95, 240, 213, 0.348), rgba(255, 255, 255, 0.085), rgba(0, 0, 0, 0.175));
    backdrop-filter: blur(100px)brightness(50)saturate(50);
    border: .5px solid rgba(255, 255, 255, 0.153);


}

.video-secreen {
    width: 100%;
    padding: 20px;
    min-height: 288px;
    background: linear-gradient(45deg, rgba(95, 240, 213, 0.348), rgba(255, 255, 255, 0.085), rgba(0, 0, 0, 0.175));
    /* background: linear-gradient(90deg, rgba(18, 57, 62, 0.915), rgba(0, 0, 0, 0.25)); */
    backdrop-filter: blur(100px)brightness(50)saturate(50);
    display: grid;
    place-items: center;
    border: 1px solid rgba(255, 255, 255, 0.153);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.video-secreen iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.video-list {
    width: 100%;
    height: 60vh;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.153);
    min-height: 350px;
    background: red;
    background: linear-gradient(90deg, rgba(148, 148, 148, 0.364), rgba(124, 124, 124, 0.356));

    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.291), rgba(255, 255, 255, 0.168), rgba(0, 0, 0, 0.25)); */
    backdrop-filter: blur(100);
}

/* footer section */
footer {
    width: 100%;
    height: 250px;
    background: #000000;
}

footer h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(182, 182, 182);
    padding-top: 60px;
}

footer p {
    text-align: center;
    font-size: 30px;
    color: rgb(63, 213, 123);
}



/* ======================== */


@media (min-width:992px) {



    /* Landing section start  */
    .main-container {
        position: relative;
        min-height: 100vh;
        width: 100%;
        background: #0C191A;

    }

    .glass-background {
        width: 100%;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(25px);
        min-height: 100vh;
        height: auto;
        z-index: 2;
    }

    .circle {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: linear-gradient(139.18deg, rgba(69, 221, 231, 0.34) 15.98%, rgba(203, 206, 35, 0.34) 91.55%);
    }

    .circle1 {

        animation: circle2 8s ease infinite;
        bottom: 127px;
        left: 108px;
        width: 300px;
        height: 300px;
        filter: blur(155px) saturate(4);
        background: linear-gradient(139.18deg, rgb(0 239 255) 15.98%, rgb(203 206 35 / 52%) 91.55%);
    }

    .circle2 {
        top: 161px;
        right: 161px;
        width: 200px;
        height: 200px;
        background: linear-gradient(139.18deg, #45DDE7 15.98%, #4bfac4 91.55%);
        animation: circle1 14s ease infinite;
        filter: blur(150px) saturate(74);

    }

    .circle4 {
        top: 161px;
        right: 550px;
        width: 400px;
        height: 400px;
        background: linear-gradient(139.18deg, #58c2b947 15.98%, rgb(129 186 230 / 80%) 91.55%);
        animation: circle1 11s ease infinite;
        filter: blur(150px) saturate(74);

    }

    .circle3 {
        animation: circle 10s ease infinite;
        bottom: 62px;
        right: 341px;
        width: 200px;
        height: 200px;
        filter: blur(159px) saturate(7);
        background: linear-gradient(139.18deg, #19A9B2 15.98%, #ff388c 91.55%);


    }

    .circle5 {
        top: 301px;
        left: 100px;
        width: 400px;
        height: 400px;
        background: linear-gradient(139.18deg, #15c9ed33 15.98%, rgb(126 192 254 / 80%) 91.55%);
        animation: circle5 15s ease infinite;
        filter: blur(150px) saturate(74);

    }

    @keyframes circle {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(40%, -1700%);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes circle1 {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translateY(1000%);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes circle2 {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translateY(-1500%);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    @keyframes circle5 {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(100%, -100%);
        }

        100% {
            transform: translate(0, 0);
        }
    }



    /* header section start */

    .navigation {
        background: #000000bc;
        position: sticky;
        top: 0;
        backdrop-filter: blur(20);
        z-index: 2;

    }

    header {
        height: 80px;
        width: 100%;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    header .logo {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .logo .brand {
        height: 70px;
    }

    header .logo h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
    }

    header nav {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    header nav a {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 3px;
        transform: all .3s ease;
    }

    header nav a:hover {
        color: #FFFFFF;
    }

    header nav a::after {
        transition: all 2s ease;
        bottom: 0;
        left: -100%;
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #ffffffa5;
    }

    header nav a:hover:after {
        left: 100%;
    }


    /* header section end */


    .main-container .landing-main {
        padding-top: 180px;
        padding-bottom: 230px;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .main-container .landing-main h1 {
        color: #eee;
        font-family: arial;
        font-style: normal;
        font-weight: 700;
        font-size: 88px;
        line-height: 106px;
        position: relative;
        overflow: hidden;
        padding-bottom: 2px;
    }

    .main-container .landing-main h1::after {
        transition: all 1s ease;
        bottom: 0;
        left: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background: rgba(241, 241, 241, 0.507);
        /* border-radius: 50%; */
        animation: protonity 5s ease infinite;
    }

    /* .main-container .landing-main h1:hover:after{
    left: 100%;

} */
    @keyframes protonity {
        0% {
            left: -100%
        }

        20% {
            left: -70%;
            background: rgba(255, 255, 255, 0.913);
        }

        30% {
            left: -80%;
            background: rgba(167, 181, 172, 0.242);
        }

        40% {
            left: -65%;
            background: rgba(147, 150, 239, 0.575);
        }

        50% {
            left: -70%;
            background: rgba(115, 207, 192, 0.507);
        }

        60% {
            left: -50%;
            background: rgba(117, 167, 134, 0.507);
        }

        65% {
            left: -55%;
            background: rgba(161, 206, 114, 0.507);
        }

        70% {
            left: -20%;
            background: rgba(111, 163, 202, 0.507);
        }

        75% {
            left: -30%;
            background: rgba(38, 182, 185, 0.507);
        }

        80% {
            left: -10%;
            background: rgba(103, 238, 215, 0.749);
        }

        100% {
            left: 0;
            background: rgba(101, 221, 143, 0.507);
        }

    }


    .main-container .landing-main h2 {
        font-size: 80px;
        color: #eee;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }

    .landing-side {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .landing-side .round {
        position: absolute;
        transform-origin: center;
    }

    .landing-side .inner {
        /* margin-top: 44px;; */
        /* margin-left: 1px; */
        animation: round 15s linear infinite;
    }

    .landing-side .outer {
        /* padding-top: 10px;
    padding-left: 10px; */
        animation: round 25s linear infinite reverse;

    }

    @keyframes round {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }

    }



    /* slider section start  */
    .testimonial-section {
        /* padding: 0 180px; */
        padding-top: 50px;
        padding-bottom: 50px;

    }

    .swiper {
        min-height: 405px;
        padding-top: 20px;
    }



    .swiper-slide {
        /* scale: .6; */
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 300px;
        padding: 10px;
        transition: all 1s ease;
    }

    .swiper-slide-active {
        scale: 1.1;
    }

    .swiper-slide .card-box {
        width: 250px;
        height: 300px;
        overflow: hidden;
        background: linear-gradient(45deg, #616161a1, #20999424);
        padding: 3px;
        border-radius: 20px;
        backdrop-filter: blur(200);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.757);
        transition: all .5s ease;
        filter: blur(10);


    }

    .swiper-slide-active .card-box {
        background-image: linear-gradient(45deg, #ecececd1, #fffffff7, #2f7a77);

    }

    .swiper-slide-active .card-box .card-text p {
        color: #3d3d3d;

    }

    .swiper-slide .card-box:hover {

        background-image: linear-gradient(45deg, #ecececd1, #fffffff7, #2f7a77);
        scale: 1.05;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.837);
    }

    .swiper-slide .card-box:hover .card-text p {

        color: #3d3d3d;

    }

    .swiper-slide .card-box:hover .card-img img {

        scale: 1.4;
    }


    .card-img {
        height: 40%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;


    }

    .card-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        transition: all 3s linear;
    }

    .card-text {
        padding: 5px 10px;
        overflow: hidden;

    }

    .card-text a {
        font-size: 17px;
        color: #19A9B2;
        line-height: 10px;
        text-decoration: none;
    }

    .card-text a:hover {
        text-decoration: underline;
    }

    .card-text p {
        padding-top: 5px;
        font-size: 14px;
        color: #5fff6a;
    }

    /* slider section end  */


    /* member section start  */
    .memeber-photo-col {
        min-height: 400px;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .heading {
        color: rgba(255, 255, 255, 0.663);
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 50px;
        padding-bottom: 70px;
    }

    .photo-box {
        width: 300px;
        height: 300px;
        position: relative;
    }

    .photo-box img {
        position: absolute;
        transition: all .5s ease;
        animation: member 5s ease infinite;
    }

    .one {
        transform: translate(28px, -34px);
    }

    .two {
        transform: translate(90px, -50px);
    }

    .three {
        transform: translate(210px, -2px);
    }

    .for {
        transform: translate(-28px, 27px);
    }

    .five {
        transform: translate(90px, 70px);
    }

    .six {
        transform: translate(210px, 113px);
    }

    .seven {
        transform: translate(-28px, 148px);
    }

    .eight {
        transform: translate(90px, 190px);
    }

    .nine {
        transform: translate(210px, 232px);
    }


    .photo-box:hover .one {
        transform: translate(50px, 29px)rotate(90deg);
        z-index: 2;
    }

    .photo-box:hover .two {
        transform: translate(90px, -137px);
    }

    .photo-box:hover .three {
        transform: translate(307px, -38px);
    }

    .photo-box:hover .for {
        transform: translate(-124px, -15px);
    }

    .photo-box:hover .five {
        transform: translate(90px, 70px)scale(1.5)rotate(360deg);
    }

    .photo-box:hover .six {
        transform: translate(302px, 153px);
    }

    .photo-box:hover .seven {
        transform: translate(-123px, 190px)
    }

    .photo-box:hover .eight {
        transform: translate(90px, 265px);
    }

    .photo-box:hover .nine {
        transform: translate(170px, 195px)rotate(180deg);
    }

    .member-info-box {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        min-height: 400px;
        padding: 20px;
        background: rgba(77, 255, 193, 0.096);
        backdrop-filter: blur(20);
    }

    p {
        color: rgb(183, 183, 183);
        font-size: 18px;
    }

    h2 {
        font-size: 38px;
    }




    /* member section end  */



    .study-container {
        padding: 50px 0;
    }

    .row .course-heading {
        color: white;
        padding: 10px;
        padding-left: 20px;
        background-color: #19A9B2;
        border-radius: 10px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
        margin-top: 100px;
        margin-bottom: 20px;
        background: linear-gradient(45deg, rgba(95, 240, 213, 0.348), rgba(255, 255, 255, 0.085), rgba(0, 0, 0, 0.175));
        backdrop-filter: blur(100px)brightness(50)saturate(50);
        border: .5px solid rgba(255, 255, 255, 0.153);


    }

    .video-secreen {
        width: 100%;
        height: 80vh;
        padding: 50px;
        min-height: 500px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.291), rgba(255, 255, 255, 0.168), rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(100px)brightness(50)saturate(50);
        display: grid;
        place-items: center;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.153);
    }

    .video-secreen iframe {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .video-list {
        width: 100%;
        height: 80vh;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.153);
        min-height: 500px;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.291), rgba(255, 255, 255, 0.168), rgba(0, 0, 0, 0.25));
        backdrop-filter: blur(100);
    }


}